<div class="col-xs-12 text-center">
  <button class="btn btn-primary" (click)="changeVisibility()">Display Details</button>
  <p *ngIf="visstatus">Hidden Message = HelloWorld!</p>
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">S/No</div>
      <div class="col-xs-6">TimeStamp</div>
    </div>
    <div class="row" *ngFor="let click of clickDb; let i=index;"
         [ngStyle]="{backgroundColor: getColor(i)}"
         [ngClass]="{details_font: i+1 >= 5}"
    >
      <div class="col-xs-6">{{click.sno}}</div>
      <div class="col-xs-6">{{click.timestamp}}</div>
    </div>
  </div>
</div>
